[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.5b1"
pylint = "*"

[packages]
python-dotenv = "*"
pigpio = {version = "*",sys_platform = "!= 'darwin'"}
pychromecast = "*"
pillow = "*"

[requires]
python_version = "3.8"
