<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spotify HUD</title>


    <script src="{{ url_for('static', filename='javascript/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/master.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">

    {% include "svg.html" %}

</head>
<body>
{% block content %}{% endblock content %}

<script>
    window.mediaPlayers = JSON.parse('{{ media_players|safe }}');
    window.hassUrl = '{{ hass_url }}';
    window.hassAccessToken = '{{ hass_access_token }}';
</script>

{% block extra_js %}{% endblock extra_js %}
</body>
</html>