{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-6 artwork-container">
                <img class="artwork ml-3"
                     src="{{ url_for('static', filename='images/bg_color.webp') }}" alt="">
                <img class="artwork ml-3 glitch"
                     src="{{ url_for('static', filename='images/bg_color.webp') }}" alt="">
                <img class="artwork ml-3 glitch"
                     src="{{ url_for('static', filename='images/bg_color.webp') }}" alt="">
                <img class="artwork ml-3 glitch"
                     src="{{ url_for('static', filename='images/bg_color.webp') }}" alt="">
            </div>
            <div class="col-2 offset-4 text-center">
                <div class="volume-meter-container mr-2">
                    <div class="volume-meter" id="volume-meter-10"></div>
                    <div class="volume-meter" id="volume-meter-9"></div>
                    <div class="volume-meter" id="volume-meter-8"></div>
                    <div class="volume-meter" id="volume-meter-7"></div>
                    <div class="volume-meter" id="volume-meter-6"></div>
                    <div class="volume-meter" id="volume-meter-5"></div>
                    <div class="volume-meter" id="volume-meter-4"></div>
                    <div class="volume-meter" id="volume-meter-3"></div>
                    <div class="volume-meter" id="volume-meter-2"></div>
                    <div class="volume-meter" id="volume-meter-1"></div>
                </div>
                <div class="volume-icon-container mr-2">
                    <svg class="volume-icon">
                        <use id="volume-icon-svg" href="#volume-low"></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <div class="mx-3">
                    <div class="scroll-left my-2">
                        <h1 id="title" class="mb-0"></h1>
                    </div>
                    <h3 id="artist" class="my-3"></h3>
                    <div id="progress-bar">
                        <div id="current-progress"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="paused-container">
        <div class="paused-bar"></div>
        <div class="paused-bar"></div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='javascript/music.js') }}"></script>
{% endblock extra_js %}