{% extends 'base.html' %}

{% block content %}
    <div class="noise-container-outer">
        <div class="noise-container-inner">
            <div class="noise"></div>
        </div>
    </div>
    <div class="warning-message-container">
        <div class="warning-message">
            <img class="warning-icon" src="{{ url_for('static', filename='images/warning_22x22.webp') }}" alt="">
            <h3 class="no-content-message mx-4">
                No content available.<br>Shutting down in:
            </h3>
            <img class="warning-icon" src="{{ url_for('static', filename='images/warning_22x22.webp') }}" alt="">
        </div>
        <div class="warning-countdown">
            <h1 class="warning-countdown__clock">02:00</h1>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='javascript/no_content.js') }}"></script>
{% endblock extra_js %}