{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <img class="artwork artwork__tv" src="{{ url_for('static', filename='images/bg_color.webp') }}" alt="">
                <img class="artwork artwork__tv glitch" src="{{ url_for('static', filename='images/bg_color.webp') }}" alt="">
                <img class="artwork artwork__tv glitch" src="{{ url_for('static', filename='images/bg_color.webp') }}" alt="">
                <img class="artwork artwork__tv glitch" src="{{ url_for('static', filename='images/bg_color.webp') }}" alt="">
            </div>
            <div class="col-12 artwork__tv--buffer">
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <div class="mx-3">
                    <div class="scroll-left my-2">
                        <h1 class="title title__primary mb-0"></h1>
                    </div>
                    <h3 class="title title__secondary my-3"></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="paused-container">
        <div class="paused-bar"></div>
        <div class="paused-bar"></div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='javascript/media.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/tv.js') }}"></script>
{% endblock extra_js %}