@font-face {
    font-family: 'DigitalClock';
    src: url('digital-7 (mono).ttf');
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: -25px;
    }
    50% {
        bottom: 30px;
    }
}

.noise {
    position: absolute;
    top: -500px;
    right: -500px;
    bottom: -500px;
    left: -500px;
    //noinspection CssUnknownTarget
    background: transparent url('../images/noise.webp') 0 0;
    background-size: 320px 320px;
    opacity: .35;
    animation: noise 1s steps(8, end) infinite both;

    &-container {
        &-outer {
            background: radial-gradient(ellipse at center, #7c7c7c 0%, black 100%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

        }

        &-inner {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 75%);

        }
    }
}

.warning {
    &-message {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        &-container {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .no-content-message {
            font-family: "Courier New", monospace;
            text-align: center;
            display: inline-block;
        }
    }

    &-icon {
        display: inline;
        position: relative;
        width: 10%;
        max-width: 50px;
        animation: MoveUpDown 4s linear infinite;
    }

    &-countdown {
        margin-top: 8%;

        &__clock {
            font-family: DigitalClock, monospace;
            font-size: 27.5vh;
        }
    }
}

@keyframes noise {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-100px, 100px);
    }
    20% {
        transform: translate(150px, -100px);
    }
    30% {
        transform: translate(-100px, 100px);
    }
    40% {
        transform: translate(100px, -150px);
    }
    50% {
        transform: translate(-100px, 200px);
    }
    60% {
        transform: translate(-200px, -100px);
    }
    70% {
        transform: translate(50px, 100px);
    }
    80% {
        transform: translate(100px, -150px);
    }
    90% {
        transform: translate(0px, 200px);
    }
    100% {
        transform: translate(-100px, 100px);
    }
}